.App {
  text-align: center;
  background-color: #f6fcfa;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
nav{
  background-color: blue;
  width: 100%;
  position: fixed;
  z-index: 9;
  box-shadow: 0px 5px 15px #1b1b1b;
  padding: 5px 15px;
}
 
.detailContainer{
  display: flex;
  padding: 50px;
  flex-wrap: wrap;
}
.detailLeft{
  width: 40%;  box-sizing: border-box;
  margin-right: 25px;
}
.detailLeft iframe{
  width: 100%;
  
}
.detailLeft img{
  width: 100%;
  height: auto;
}
.detailRight{
  box-sizing: border-box;
  overflow: auto;
  width: 55%;
  
}
@media (max-width:900px) {
  .detailContainer{
 
    padding: 50px 10px;
  }
  .detailLeft{
    width: 100% ;
    margin-bottom:25px;
   }
   .detailRight{
    width: 100%;
   }
   #headerTitle{
    box-shadow: 0px 0px 5px black;
   
   }
   header{
     background-position: center;
   }
}
header{
   
  position: relative;
  height: 50vh;
  background-size:cover ;
  background-image: url("/src/assets/banner.png");
}
header div{
  position: relative;
  top: 40%;
  color: white;
  z-index: 2;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
  .container2{
    display: flex;    
    flex-wrap: wrap;
  }
  .film-card:hover{
    transition: all 0.3s  ease-in;
    transform: scale(1.05);
  }
.film-card{

  width: 30%;
   padding: 0px 0px 5px 0px;
  box-sizing: border-box;
  border-radius: 10px;
  overflow:auto;
  box-shadow: 0 2px 5px #aaa;
  margin: 15px;
  background-color: white;
  text-align: center;
  position: relative;
}
.film-image{
  width: 100%;
  
}
.film-title{
  position: relative;
 
  margin: 5px;
  height: 60px;
   
}
.film-text{ 
 
 margin: 5px;
 }
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
a{
  text-decoration: none;
}
.App-link {
 
  color: none;
}
.input-group-text{
  height: 50px;
}
.ss{ 
 margin-top: 30px;
}
#btnr{
    float: left;
}
#btnr:hover{
  background-color: transparent;
  color: #61dafb;
}
#details{
  width: 100%;
  background-color:white ;
  border-radius: 15px;
  box-shadow: 0 2px 5px #aaa;
 
}
 th{
   
   text-transform: capitalize;
 }
 
 tr:first-child{
   font-weight: bold;
   font-size: large;
   text-transform: uppercase;
 color: rgb(41, 40, 40);
 border:none;
}
tr td:last-child{
  border:none;
}
tr td:first-child{
  border:none;
}
@media (max-width:999px){
  .film-card{
    width: 90%;
   }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
